.addIngredient{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 130px;
    align-items: center;
    /* padding: 3%; */
        height: 100px;
    
}

.ingredient-list{
    padding: 3%;    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
