
.ing-list p{
    border-bottom: 2px solid black;
    padding: 2% 6%;
    position: relative;
}
.ing-list, .ing-item{
    width: 20%;
    padding:.01% 3%;
    /* background: white; */
    background: #EEE;
}
.ing-list{
    max-height: 200px !important;
    overflow: scroll;
    margin-top: 12%;
    z-index: 999;
}
.ing-list::-webkit-scrollbar { 
    display: none; 
}
.hidden {
    display: none;
}
input{
    height: 50px;
    font-size: 1.7rem;
    text-align: center;
}
button{
    height: 50px;
    background: #FF5252;
    color: white;
}
